/* Conteneur principal */
.form-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
  width: 100vw;           
  background-color: #f8f9fa; 
  overflow: hidden;       
  padding: 0;             
  box-sizing: border-box; 
}

/* Formulaire */
form {
  width: 100%;            
  max-width: 600px;      
  padding: 20px;          
  background: white;      
  border-radius: 8px;     
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box; 
  margin: 0;              
}

.navBarBody{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.navBar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  gap: 10px;
  background-color: #f8f9fa;
  padding: 10px;
}

.navLink {
  display: flex;
  gap: 5vw;
}

body{
  display: flex;
  
}

.bodyApp{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;          
  width: 100vw;   
}